/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    font-size: 1.3rem;
    background-color: lightblue;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
  
}
.links{
    display: flex;
    justify-content: space-between;
    margin-top: 2%; 
     
}
.links a{
    color: rebeccapurple;
    font-size: 1.3rem;
}
.links a:hover{
    color: orange;
}
img{
    text-align: center;
    width: 70%;
    margin-top: 1.5%;
    margin-left: 15%;
}
.anywhere{
    margin-top: 3.5%;
}
.fitness{
    font-size: 1.8rem;
    color: white;
}
.intro{
    background-color: aliceblue;
    border: 1px solid black;
    padding: 2% 2%;
    line-height: 1.6rem;
}
.online{
    margin-top: 3%;
    display: flex;
    justify-content: row-reverse;
    flex-direction: column;
    text-align: center;
}
.instructors{
    font-size: 1.7em;
    text-align: center;
    color: white;
}
.bryson{
    display: flex;
    width: 80%;
    background-color: red;
}
.brysonp{
    margin-top: 2%;
    background-color: yellow;
    font-size: 1.2rem;
    width: 65%;
    margin-left: 16%;
}   
.tammy{
    display: flex;
    width: 80%;
    background-color: white;
}
.tammyp{
    margin-top: 2%;
    background-color: white;
    font-size: 1.2rem;
    width: 65%;
    margin-left: 16%;

}
.matt{
    display: flex;
    width: 80%;
    background-color: blue;
}
.mattp{
    margin-top: 2%;
    background-color: lightgreen;
    font-size: 1.2rem;
    margin-top: 2%;
    background-color: yellow;
    width: 65%;
    margin-left: 16%;
}
.training{
    display: flex;
    display: flex;
    margin-top: 7%;
    border: 10px solid rebeccapurple;
    text-align: center;
    width: 98%;
}
.special{
    display: flex;
    align-items: center;
    line-height: 2;
    font-size: 1.3rem;
}
.man{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    background-size: contain;
    background-size: cover;
    text-align: center;
}
.man :hover{
    border: 7px dotted blue;
}
.woman{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    background-size: contain;
    background-size: cover;
    text-align: center;
}
.woman :hover{
    border: 7px dotted pink;
}
footer{
    text-align: center;
    margin-top: 4%;
}